@{
	ViewData["Title"] = "Acces Denied";
}

<div class="text-center">
    <h1 class="display-4 text-warning">Acces Denied</h1>
</div>
<div class="row">
	<div class="col-md-4 offset-md-4">
		Acces denied
		<a asp-area="Auth" asp-action="Register" asp-controller="Home" class="btn btn-outline-primary">Register</a>
		<a asp-area="Auth" asp-action="Login" asp-controller="Home" class="btn btn-outline-secondary">Login</a>
	</div>
</div>